# Firebase API Keys
ANDROID_FIREBASE_API_KEY=your_android_firebase_api_key_here
WEB_FIREBASE_API_KEY=your_web_firebase_api_key_here
# MAPS_API_KEY=your_maps_api_key_here

# SMTP configuration for email verification
SMTP_USERNAME=your_smtp_username_here
SMTP_PASSWORD=your_smtp_password_here
